.gameover {
    display: flex;
    flex-direction: column;
    border: 2px dashed white;
    gap: 2rem;
    align-items: center;
    padding: 1rem 5rem;
    justify-content: flex-start;
    max-width: 100vw;
}

.gameover > .score {
    position: static;
    transform: translateX(0px);
    margin: 0px;
}

.gameover {
    transform: translateY(-50%);
    box-shadow: 0px 0px 5px 5px black;
    background-color: rgba(0, 0, 0, 0.384);
    text-align: center;
}

.restart {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.restart:hover {
    transform: scale(1.1);
}

.gameover-text {
  font-size: 4rem;
  color: #fff;
  text-align: center;
  margin: 1rem 0;
  animation: flicker 7s linear infinite;
}

@keyframes flicker {
  /* solid for most of the cycle */
  0%, 50%, 100% {
    opacity: 1;
    text-shadow: 0 0 5px #fff;
  }
  10%, 40%, 60%, 90% {
    opacity: 0.6;
    text-shadow: none;
  }

  25%, 75% {
    opacity:0.9;
    text-shadow: none;
  }
}

@media (max-width: 500px) {
    .gameover {
        transform: translateY(-40%);
        gap: 1rem;
    }
    .gameover-text {
        line-height: 3rem;
    }
}