.logo {
  background: url('../assets/International_Pokémon_logo.svg');
  min-height: 100px;
  width: 270px;
  background-repeat: no-repeat;
  transform: translateY(-100%);
  animation: moveLogo 1.5s ease 0s infinite alternate;
}

@keyframes moveLogo {
  to {
    transform: translateY(-100%) translateY(-15px);
  }
}

.start {
    background-color: rgba(0, 0, 0, 0.384);
    justify-items: center;
    border: 2px dashed white;
    padding: 1rem 5rem;
    transform: translateY(-140%);
    cursor: pointer;
    transition: transform 0.2s ease;
    box-shadow: 0px 0px 3px 3px black;
    text-align: center;
}

.start:hover {
    transform: translateY(-140%) scale(1.05);
    box-shadow: 0px 0px 5px 5px black;
}

@media (max-width: 460px) {
    .start {
        transform: translateY(-100%);
    }
}

@media (max-width: 460px) {
    .start {
        transform: translateY(-70%);
    }
}