.logo {
  background: url('../assets/International_Pokémon_logo.svg');
  min-height: 100px;
  width: 270px;
  background-repeat: no-repeat;
  transform: translateY(-100%);
  animation: moveLogo 1.5s ease 0s infinite alternate;
}

@keyframes moveLogo {
  to {
    transform: translateY(-100%) translateY(-15px);
  }
}

.start {
  justify-items: center;
  border: 2px dashed white;
  padding: 10px 50px;
  transform: translateY(-160%);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.start:hover {
    transform: translateY(-160%) scale(1.05);
    box-shadow: 0px 0px 5px 5px black;
}